*, *:before, *:after{
  box-sizing: border-box;
}

body {
  max-width: 1360px;
  background-color: #dadada;
  font-size: 75%;
}

h1.title{
  padding: 3%;
  margin: 3%;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-family: system-ui, sans-serif;
  font-size: 1em;
}

div h1{
  position:relative;
  top: 50px;
  left: 16px;
  font-size: 2em;
}

.container{
  width: auto;
}

img{
  width: 100%;
  height: 200px;
}

/* Media query for 2 column design - tablet/smartphone */
@media screen and (min-width: 575px){
  .container{
    margin: 0 2%;
  }

  div{
    float: left;
    background-size: contain;
    margin: 1%;
    width: 33%;
  }
}

/* Media query for 4 column design - laptop */
@media screen and (min-width:991px){
  .container{
    margin:0 2%;
  }
  div{
    float: left;
    background-size: contain;
    margin: 1%;
    width: 21%;
  }
}
